body{
    margin: auto;
}

.red-box{
    position: relative;
    width: 150px;
    height: 150px;
    background-color: red;
    color: yellow;
    text-align: center;
    /* animation: move-right 1.5s forwards reverse 10; */
    animation: move-rotate 1.5s forwards;
}

@keyframes move-right{
    from{
        transform: translateX(500px);
    }
    to{
        transform: translateY(500px);
    }
}

@keyframes move-rotate{
    0%{
        transform: translateX(500px);
    }
    80%{
        /* transform: translateY(100px); */
        transform: rotate(360deg);
    }
}