@font-face {
    font-family:'Yekan';
    src: url('../fonts/Yekan.ttf') format('truetype');
}

body{
    background-color: white;
    margin: auto;
    direction: rtl;
    font-family:'Yekan' !important;

}

header{
    width: 100%;
    padding: 5px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    position: fixed;
    z-index: 1400;
    background-color: white;
}

header img{
    display: inline-block;
    margin: 3px;
}

.font-s32{
    font-size: 32pt;
}

.text-gray{
    color: gray;
}
.border-gray{
    border: 1px solid gainsboro;
}
.search-box{
    position: relative;
    width: 512px;
    padding: 5px;
    margin-right: 5px;
    border-radius: 7px;
    background-color: #ececec;
}

.bg-navy{
    background-color: #28367f;
}

.search-box input{
    width: 100%;  
    background-color: transparent;
    padding: 5px;
    outline: none;
    border: none;
    font-size: 11pt;
    margin-right: 32px;
}

.search-box .fa-search{
    position: absolute;
    top: 12px;
    right:10px;
}

.btn-login{
    background-color: white;
    padding: 8px 10px;
    border-radius: 10px;
    border: 1px solid rgb(189, 189, 189);
    outline: none;
    color: black;
    font-size: 11pt;
}

.special-product{
    background-color: rgb(220, 53, 69);    
    padding: 0;
    padding-left: 2px;
}

.special-product .main-box{
    background-color: white;
    padding: 5px;
    min-height: 100%;
    cursor: pointer;
}

@media (max-width : 575px) {
    .special-product .main-box{
        min-height: auto;
    }
}

.special-product .main-box a{
   text-decoration: none;
}

.special-product .main-box .finalPrice{
    font-weight: bold;
    color: black;
    font-size: 12pt;
    float: left;
}
.special-product .main-box .sellOff{
    color: white;
    background-color: rgb(220, 53, 69);
    padding: 2px 10px;
    font-size: 9pt;
    border-radius: 45px;
    font-weight: normal;
    float: right;
}
